<!DOCTYPE html>
<html>
<head>
    <title>CampusConnect AI - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/chatbot">Chatbot</a>
        <a href="/login">Admin login</a>
        <a href="/upload_pdf">Upload PDF</a>
    </nav>

    <div class="container">
        <h1>About CampusConnect AI</h1>
        <p>
            CampusConnect AI helps students get information about admissions,
            courses, fees, placements, scholarships, and campus facilities.
        </p>
    </div>

</body>
</html>