<!DOCTYPE html>
<html>
<head>
    <title>CampusConnect AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/chatbot">Chatbot</a>
        <a href="/login">Admin login</a>
        <a href="/upload_pdf">Upload PDF</a>
    </nav>

    <div class="container">
        <h1>Welcome to CampusConnect AI</h1>
        <p>Your AI-Powered College Information Assistant</p>

        <button>Get Started</button>
    </div>

</body>
</html>